<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>
      AdonisJS
    </title>

    <script>
      (function () {
        const stored = localStorage.getItem('theme');
        const isDark = stored ? stored === 'dark' : window.matchMedia('(prefers-color-scheme: dark)').matches;

        if (isDark) {
          document.documentElement.classList.add('dark');
        }
      })();
    </script>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body>
    @inertia()
  </body>

</html>
